body {
    font-family: 'Poppins', sans-serif;
    background-color: #272d39;
    color: #ccc;
}

#app {
    background-color: #354359;
    margin-top: 50px;
    border-radius: 25px;
}

.extras {
    text-decoration: none;
}

.forecast-days {
    overflow-x: scroll;
}

#temperature {
    font-size: 40pt;
}

.hide-block {
    display: none;
}

.extras {
    list-style-type: none;
}

#city-search[type=text] {
    background-image: url('../images/search.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding-left: 35px;
}